.home-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    align-items: left;
}

.client-review {
    margin-top: 200px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}