.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.heading {
    font-size: 60px;
    font-weight: bold;
}

.heading-details {
    font-size: 18px;
}

.text-container {
    align-items: left;
}

.image-container img {
    border-radius: 22px;
}

.client-review {
    margin-top: 200px;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.buttonReview {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}